<!DOCTYPE html> 
<html xlmns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/formes.css">
        <title>Carte-O-Culture</title>
    </head>
    <body>
        <h1>API</h1>

        <h2>Presentation</h2>

        <div class="box-horizontal">
            Permet d'acceder aux objets stockés dans la BDD
        </div>
    </body>
</html>